/Basic-3-Operator/nbproject/private/
/Basic-3-Operator/build/
/Basic-4-Math/nbproject/private/
/Basic-4-Math/build/
/Basic-4-Boolean/nbproject/private/
/Basic-4-Boolean/build/
/Basic-6-IF-Else/nbproject/private/
/Basic-6-IF-Else/build/
/Basic-7-Switch-case/nbproject/private/
/Basic-7-Switch-case/build/
/Basic-5-Boolean/build/
/Basic-8-While-Loop/nbproject/private/
/Basic-8-While-Loop/build/
/Basic-9-For-Loop/nbproject/private/
/Basic-9-For-Loop/build/
/Basic-10-Break-Continue/nbproject/private/
/Basic-10-Break-Continue/build/
/Basic-11-Arrays/nbproject/private/
/Basic-11-Arrays/build/
